body {
  background-color:  white;
  font-family: Arial;
  font-size: 15px;
}

.head1 {
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  }

.head2 {
  color: #202020;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  }

.text1 {
  color: white;
  text-align: center;
  font-size: 10px;
  font-family: Arial;
  padding: 10px;
  }

.nav1 a {
  color: #9BC53D;
  text-align: left;
  display: block;
  background-color: #202020;
  padding: 10px;
  font-size: 20px;
  width: 95%;
  }

  .nav1 a:hover {
  background-color: black;
  }

a {
  color: #9BC53D;
  font-size: 20px;
  font-family: Arial;
  text-decoration: none;
}

.act {
  background-color: #9BC53D;
  color: #202020;
  padding: 10px;
  font-size: 20px;
  font-family: Arial;
  text-decoration: none;
}

.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: #202020;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  }

.column2 {
  float: right;
  width: 67%;
  padding: 10px;
  background-color: white;
  height: 100%;
  }

hr {
  border: 5px solid white;
}

.hrv {
  border-left: 5px solid white;
  height: 100%;
  position: absolute;
  left: 32%;
  top: 10;
}

.sidedesc {
  color: white;
  text-align: left;
  font-size: 15px;
  font-family: Arial;
  padding: 10px;
  }

.projects {
  color: #202020;
  text-align: left;
  font-size: 15px;
  font-family: Arial;
  padding: 20px;
  }

.projects a:hover {
  color: black;
  }

img {
  padding-top: 20px;
}